# --- Python ---
PYTHONNOUSERSITE=1

# --- PostgreSQL ---
PGURL="postgresql://epilepsiae:epilepsiae@localhost:5432/epilepsiae"

# --- Dataset path (host) ---
DATA_ROOT="/media/diego/My_Book_Diego/EU_epilepsy_database"
